PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/webpinterest

# JWT Secret (genera uno seguro)
JWT_SECRET=90bb63369b9c6ce4adf2ae309df6e245c9fc5af1c8b57974d4378a02d10fe59d988f31098f7750b58e5f6c3e21ca906cf3adc42351a797022e2695c7d47ca28b

# Cloudinary (obtén de https://cloudinary.com)
CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui
CLOUDINARY_API_KEY=tu_api_key_aqui
CLOUDINARY_API_SECRET=tu_api_secret_aqui
